{% extends 'base.html'%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<h1>{{ model.plural }}</h1>
<a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'new' model.model_str %}">New {{ model.single }}</a>

<table class="table">
    <tr><th>Order</th><th>Name</th><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Per day</th><th>Actions</th></tr>
    {% for item in items %}
        <tr>
            <td>
                <a href="{% url 'order' model.model_str -1 item.id %}"><i class="fas fa-sort-up"></i></a>
                {{ item.order }}
                <a href="{% url 'order' model.model_str 1 item.id %}"><i class="fas fa-sort-down"></i></a>
            </td>
            <td>
                <a href="{% url 'ind' model.model_str item.id %}">{{ item.name }}</a><br>
            </td>
            <td>{% if item.sunday %}&#x2713;{% endif %}</td>
            <td>{% if item.monday %}&#x2713;{% endif %}</td>
            <td>{% if item.tuesday %}&#x2713;{% endif %}</td>
            <td>{% if item.wednesday %}&#x2713;{% endif %}</td>
            <td>{% if item.thursday %}&#x2713;{% endif %}</td>
            <td>{% if item.friday %}&#x2713;{% endif %}</td>
            <td>{% if item.saturday %}&#x2713;{% endif %}</td>
            <td>{{ item.per_day }}x</td>
        <td>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'edit' model.model_str item.id %}">Edit</a>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'delete' model.model_str item.id %}">Delete</a>
        </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}