<nav class="navbar navbar-light navbar-expand-xl" style="background-color: {{ colour }};">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><b>Home</b></a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for model in nav_models.0 %}
          <li class="nav-item"><a class="nav-link active" href="{% url 'list' model.model_str %}">{{ model.plural }}</a></li>
        {% endfor %}
        {% if nav_models.1 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span style="color: black">Set-up</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for model in nav_models.1 %}
              {% if model.model_str == "file" %} <div class="dropdown-divider"></div> {% endif %}
              <li><a class="dropdown-item" href="{% url 'list' model.model_str %}">{{ model.plural }}</a></li>
              {% if model.model_str == "file" %} <div class="dropdown-divider"></div> {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
    </ul>


          {% if user.is_authenticated %}
              <form class="d-flex" method="POST" action="{% url 'search' %}">
                  {% csrf_token %}
                <input class="form-control" type="search" placeholder="Patient and Staff Search" name="searched">
                <button class="btn btn-success me-5" style="color: black; background-color: #C2F1C8; border:None" type="submit">Search</button>
              </form>
            {% if request.user.first_name == "Allison" %}
                <span class="nav-item"><a class="nav-link active" href="{% url 'switch_user' 'admin' %}"><i class="fas fa-circle" style="color:lightgrey;"></i></a></span>
            {% elif request.user.first_name == "Matt" %}
                <span class="nav-item"><a class="nav-link active" href="{% url 'switch_user' 'setup' %}"><i class="fas fa-circle" style="color:lightgrey;"></i></a></span>
            {% elif request.user.first_name == "Darren" %}
                <span class="nav-item"><a class="nav-link active" href="{% url 'switch_user' 'staff' %}"><i class="fas fa-circle" style="color:lightgrey;"></i></a></span>
            {% endif %}


            <span class="me-2" style="color: black">Hello {{ request.user.first_name }}!</span>
            <a class="me-5" style="color: black" href="{% url 'custom_logout' %}">Logout</a>
          {% else %}
            <a style="color: black" class="me-5" href="{% url 'signup' %}">Signup</a>
            <a style="color: black" href="{% url 'custom_login' %}">Login</a>
          {% endif %}
      </span>



  </div>
</nav>
