{% extends 'base.html'%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h1>Search for '{{ searched }}'</h1>

<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <h1>Patient Search</h1>
        {% for item in patients %}
            <a href="{% url 'ind' 'patient' item.id %}">{{ item.name }}</a><br>
        {% endfor %}
    </div>
    <div class="col-4">
        <h1>Staff Search</h1>
        {% for item in staff %}
            <a href="{% url 'ind' 'staff' item.id %}">{{ item.name }}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock %}