{% extends 'base.html'%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h1>{{ model.plural }}</h1>
<a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'new' model.model_str %}">New {{ model.single }}</a>

<table class="table">
    <tr><th>Staff</th><th>Date</th><th>Shift</th><th>Start</th><th>End</th><th>Duration</th><th>Actions</th></tr>
    {% for item in items %}
        <tr>
            <td>
                {% if item.staff %}
                    <a href="{% url 'ind' 'staff' item.staff.id %}">{{ item.staff }}</a>
                {% endif %}
            </td>
            <td>{{ item.date }}</td>
            <td>{{ item.shift }}</td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            <td>{{ item.duration }}</td>
        <td>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'active' model.model_str item.id %}">Active</a>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'ind' model.model_str item.id %}">View</a>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'edit' model.model_str item.id %}">Edit</a>
            <a class="btn btn-care" style="background-color: {{ colour }};" href="{% url 'delete' model.model_str item.id %}">Delete</a>
        </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}