{% extends 'base.html'%}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h1>{{ item }}</h1>
<a href="{% url 'create_financial_spreadsheet' item.id %}">Create Spreadsheet</a>

<table class="table">
    <tr><th>Field</th><th>Data</th><th>Count</th><th>Unit Cost</th><th>Total</th></tr>
    {% for i item.item_data %}
        <tr>
            <td><a href="{% url 'ind' 'patient' patient.id %}">{{ patient }}</a></td><td></td><td></td><td></td><td></td>
        </tr>
        {% for job, count, unit_cost, cost, string in data %}
            <tr>
                <td>{{ patient}}</td>
                <td>{{ job }}</td>
                <td>{{ count }}</td>
                <td>{{ unit_cost }}</td>
                <td>{{ cost }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<br><br>
{% endblock %}